.chat{

flex:1;

display:flex;

flex-direction:column;

}

.messages{

flex:1;

display:flex;

justify-content:center;

align-items:center;

background:#F7F7F8;

}

.welcome{

text-align:center;

}

.welcome h1{

font-size:40px;

}

.welcome p{

color:gray;

font-size:18px;

}