*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Poppins,sans-serif;

}

body{

background:linear-gradient(135deg,#141E30,#243B55);

}

.register-container{

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.glass-card{

width:420px;

padding:40px;

border-radius:20px;

background:rgba(255,255,255,0.08);

backdrop-filter:blur(15px);

box-shadow:0 10px 30px rgba(0,0,0,.35);

text-align:center;

color:white;

}

.glass-card h1{

font-size:32px;

margin-bottom:10px;

}

.glass-card p{

margin-bottom:25px;

color:#ddd;

}

.glass-card input{

width:100%;

padding:15px;

margin-bottom:18px;

border:none;

outline:none;

border-radius:12px;

background:rgba(255,255,255,.15);

color:white;

font-size:16px;

}

.glass-card input::placeholder{

color:#ddd;

}

.glass-card button{

width:100%;

padding:15px;

border:none;

border-radius:12px;

background:linear-gradient(to right,#00C9FF,#92FE9D);

font-size:17px;

font-weight:bold;

cursor:pointer;

transition:.3s;

}

.glass-card button:hover{

transform:scale(1.03);

}

.login-link{

margin-top:20px;

font-size:15px;

}

.login-link a{

color:#92FE9D;

text-decoration:none;

font-weight:bold;

}